/* Tamplate pour la création d'un CalendarEvent.
 *
 * Pensez à enlever les commentaires, ainsi les champs qui ne sont pas édités
 * (mis à null).
 */{
    "id": "sdfsvfeb",
    "name": "Nom de l'événement",
    "date": 705285300000, // format timestamp, millisecondes
    "duration": 7200000, // Durée, format timestamp, millisecondes
    "url": "http://www.event-website.com",
    "description": "Une petite description.",
    "organizerName": "Organisateur",
    "organizerUrl": "http://www.organizer.com",
    "location": {
        "city": "La Ville",
        "name": "Ici",
        "address": "42, Rue des Pruniers"
        "gps": "46.6695,0.3635" // "latitude.0000, longitude.0000"
    },
    "cfp": {
        "url": "http://www.event-website.com/cfp",
        "dateSubmission": 1466028000000 //// format timestamp, millisecondes
    }
}