<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>remote_home</syslogHost>
        <facility>LOCAL0</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <root level="WARN">
        <appender-ref ref="SYSLOG" />
    </root>

</configuration>