* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
}

header, footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    font-size: 14px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

div.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

div.title a {
    text-decoration: none;
}

div.title a:hover {
    color: #337ab7;
}

.btn-city {
    background-color: #337ab7;
    color: #ffffff;
    font-weight: bold;
    /* TODO needs to get back to 24?*/
    font-size: 21px;
    margin: 20px 10px;
}

.btn-city:hover {
    color: #ffffff;
}

.authentication {
    position: absolute;
    right: 10px;
}

div.conflinks {
    margin-top: 20px;
    text-align: center;
}

div.conflinks a {
    margin-bottom: 10px;
    margin-right: 5px;
}

#breizhcamp {
    background-color: #ff5ee7;
    color: #ffffff;
    width: 100%;
    box-shadow: 2px 2px 2px 1px lightgrey;
    padding: 5px;
}

#breizhcamp a {
    color: #ffffff;
}

.input-text {
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

.timeline-event-list .timeline-event {
    padding: 0px 1em;
}

.search-result ul {
    padding: 0px 40px;
}

.timeline-event .pre-style {
    white-space: pre-line;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 550px;
    max-width: 90%;
    margin-top: 1em;
}

.separe, scrollable {
    border-top: 1px rgba(15, 70, 100, 0.12) solid;
    border-bottom: 1px rgba(15, 70, 100, 0.12) solid;
}

.separe-bottom, .timeline-event-list .timeline-event {
    border-bottom: 1px rgba(15, 70, 100, 0.12) solid;
}

.blockLink {
    height: 3em;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
}

.moreLink {
    background-color: white;
    border: 0px;
    cursor: pointer;
}

svg a:hover ellipse {
    fill: #23527C;
}