* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    position: relative;
}

header, footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    font-size: 14px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

div.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

div.title a {
    text-decoration: none;
}

div.title a:hover {
    color: #337ab7;
}

.btn-city {
    background-color: #337ab7;
    color: #ffffff;
    font-weight: bold;
    /* TODO needs to get back to 24?*/
    font-size: 21px;
    margin: 20px 10px;
}

div.minimap .city {
    font-size: 16px;
}

.btn-city:hover {
    color: #ffffff;
}

.authentication {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 50px;
}
.authentication img {
    height: 50px;
}

div.conflinks {
    margin-top: 20px;
    text-align: center;
}

div.conflinks a {
    margin-bottom: 10px;
    margin-right: 5px;
}

#breizhcamp {
    background-color: #ff5ee7;
    color: #ffffff;
    width: 100%;
    box-shadow: 2px 2px 2px 1px lightgrey;
    padding: 5px;
}

#breizhcamp a {
    color: #ffffff;
}

.input-text {
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

.timeline-event {
    padding: 0px 1em 0.5em;
}

#timeline-event-list {
    width: 100%;
    margin: 0.5em auto;
    display: block;
}

#timeline-event-list .timeline-event {
    margin: 0.5em 1em;
}

/*.search-result div.results {
    padding: 0px 40px;
}*/

.timeline-event .pre-style {
    white-space: pre-line;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 550px;
    max-width: 90%;
    margin: 1em auto;
}

@media (max-width: 1199px) {
    #timeline-event-list {
        height: 25em;
    }
}

@media (min-width: 1200px) {
    #timeline-event-list {
        height: 80em;
    }
}

.separe, scrollable {
    border-top: 1px rgba(15, 70, 100, 0.12) solid;
    border-bottom: 1px rgba(15, 70, 100, 0.12) solid;
}

.separe-bottom, #timeline-event-list .timeline-event {
    border-bottom: 1px rgba(15, 70, 100, 0.12) solid;
}

.blockLink {
    height: 3em;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
}

.moreLink {
    background-color: white;
    border: 0px;
    cursor: pointer;
}

svg a:hover ellipse {
    fill: #23527C;
}

div.event img.avatar {
    max-height: 256px;
}

.wrapper-map {
    width: 100%;
    padding-bottom: 100%;
    height: 0px;
    /*overflow-y: hidden;*/
    position: relative;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#informations {
    padding: 0px 1em;
}

[data-toggle~=collapse] {
    cursor: pointer;
}
/* Override OSM default font-size */
.ol-attribution ul {
    font-size: 1rem;
}

.search-bar-container {
    width: 50%;
    height: 2em;
    max-height: 2em;
    margin: 0px auto;
    position: relative;
}

.search-bar-container .search-bar {
    width: 100%;
}

.search-suggests {
    z-index: 9999;
    text-align: left;
    width: 100%;
    position: absolute;
    top: 2.1em;
}

.search-suggests ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.search-suggests ul:hover {
    cursor: pointer;
}

.search-suggests li {
    padding: 0px 7px;
    position: relative;
}

.search-suggests li.hovered {
    background-color: #EEE;
}

.ol-zoom-extent {
    font-family: "FontAwesome";
}


/* Favourite's star */
.favourite {
        font-family: "FontAwesome";
}
.favourite.favourite-user {
    color: #FFB64E;
}
.favourite:hover {
    color: #FFD599;
    cursor: pointer;
}

.favourite::before {
    content: '\f006';
}
.favourite.favourite-user::before {
    content: '\f005';
}

.search-suggests li span:last-child,
.search-bar-container > span {
    position: absolute;
    right: 0px;
}
.search-bar-container > span {
    top: 0.4em;
    right: 0.1em;
}

.favourite-list {
    margin: 0px auto;
}

.favourite-grid {
    width: 100%;
}
.favourite-grid ul {
    list-style-type: none;
    padding: 0px;
}

.no-fixed-container {
    width: 100%;
}

.navbar {
    border-radius: 0px;
}
.navbar .container {
    position: relative;
}